@charset "utf-8";
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;

}
section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	
}
section .navegacion{
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items:  center;
}

section .navegacion li{
	list-style: none;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 2px;
	background: #eee;
	padding: 3px 3px 0;
	opacity: 0.65;
	transition: 0.6s;
}

section .navegacion li:hover{
	opacity: 1;
	background: #fff;
}

section .navegacion li img{
	width: 150px;
	transition: 0.6s;
}

section .navegacion li img:hover{
	width: 200px;
}
.navegacion li {

}
#slider h1 {
    background-color: #E13134;
}
h1 {
    padding-top: 0px;
    color: #F2ECEC;
    margin-top: -370px;
    margin-right: -567px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 177px;
    margin-bottom: 442px;
}
.navegacion h5 {
    margin-top: -258px;
    margin-right: -537px;
    margin-left: 323px;
    color: #050505;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 6.63%,rgba(255,0,0,1.00) 97.10%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 6.63%,rgba(255,0,0,1.00) 97.10%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 6.63%,rgba(255,0,0,1.00) 97.10%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 6.63%,rgba(255,0,0,1.00) 97.10%);
}

@media (min-width:0px) and (max-width:360px){
.navegacion h5 {
    padding-right: 0px;
    background-color: #F7060A;
    margin-bottom: 60px;
    margin-left: 470px;
}
.navegacion h1 {
}

.navegacion li {
    padding-left: 0px;
    padding-right: 0px;
}


}

@media ( min-width : 361px ) and (max-width : 1000px ){
.navegacion h5 {
    margin-right: -709px;
    margin-left: 449px;
}
.navegacion li {
    margin-left: 289px;
    margin-right: -118px;
    padding-top: 104px;

}


}
